.home{

position: relative;
width: 1920px;
height: 2560px;

background: #FFFFFF;

}
.footer{

position: absolute;
width: 1920.24px;
height: 334.45px;
left: -0.24px;
top: 2226.37px;


}
.footer-background{

position: absolute;
width: 1919.96px;
height: 332.82px;
left: 0.04px;
top: 2226.37px;

background: #29C98B;
transform: rotate(0.05deg);

}
.footer-separator{

position: absolute;
width: 1261px;
height: 0px;
left: 342px;
top: 2401px;

border: 1px solid #FFFFFF;
}

.sections-text{

position: absolute;
width: 273px;
height: 22px;
left: 824px;
top: 2348px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
identical to box height{
text-align: center;

color: #FFFFFF;


}
.copyright-text{

position: absolute;
width: 207px;
height: 22px;
left: 857px;
top: 2432px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
identical to box height{
text-align: center;

color: #FFFFFF;

}

.content{

position: absolute;
width: 1786px;
height: 1216px;
left: 70px;
top: 876px;

}

.section2{

position: absolute;
width: 1786px;
height: 508px;
left: 70px;
top: 1584px;

}

.text-section2{

position: absolute;
width: 818px;
height: 350px;
left: 70px;
top: 1663px;

}

.text3{

position: absolute;
width: 812px;
height: 198px;
left: 70px;
top: 1815px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #050300;

}

.text2{

position: absolute;
width: 558px;
height: 95px;
left: calc(50% - 558px/2 - 484px);
top: calc(50% - 95px/2 + 430.5px);

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 55px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #050300;

}

.text1{

position: absolute;
width: 815px;
height: 28px;
left: 73px;
top: 1758px;

font-family: 'Plus Jakarta Sans';
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #050300;

}

.image2{

position: absolute;
width: 815px;
height: 508px;
left: 1041px;
top: 1584px;

background: url(image.png);
filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
border-radius: 30px;

}
.section1{

position: absolute;
width: 1783px;
height: 514px;
left: 73px;
top: 876px;

}

.text-section1{

position: absolute;
width: 815px;
height: 327px;
left: calc(50% - 815px/2 + 488.5px);
top: 982px;

}

.text3{

position: absolute;
width: 815px;
height: 154.76px;
left: 1041px;
top: 1154.24px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 31px;
display: flex;
align-items: center;

color: #050300;


}
.text2{

position: absolute;
width: 660.43px;
height: 79.05px;
left: calc(50% - 660.43px/2 + 489.5px);
top: calc(50% - 79.05px/2 - 258.48px);

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 55px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #050300;
}


.text1{

position: absolute;
width: 594.19px;
height: 21.63px;
left: 1112px;
top: 1098px;

font-family: 'Plus Jakarta Sans';
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;

color: #050300;


}
.image1{

position: absolute;
width: 818px;
height: 514px;
left: 73px;
top: 876px;

background: url(image.png);
filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
border-radius: 30px;
}

.navbar-hero{

position: absolute;
width: 1920.46px;
height: 845.4px;
left: 0px;
top: 0px;


}
.hero-background{

position: absolute;
width: 1920px;
height: 775px;
left: 0px;
top: 0px;

background: url(background.png);

}
.hero-image1{

position: absolute;
width: 960.03px;
height: 719.7px;
left: 963.04px;
top: 0px;

background: url(image.png);
backdrop-filter: blur(50px);
Note: backdrop-filter has minimal browser support{
transform: rotate(4.23deg);

}
.hero-image2{

position: absolute;
width: 662.1px;
height: 668.79px;
left: 749px;
top: 187.17px;

background: url(image.png);
backdrop-filter: blur(50px);
Note: backdrop-filter has minimal browser support{
transform: rotate(-10.19deg);

}
.hero-text{

position: absolute;
width: 749px;
height: 288px;
left: 165px;
top: 212px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 111px;
line-height: 96px;
display: flex;
align-items: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.navbar{

position: absolute;
width: 1920px;
height: 75px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.16);
border: 1px solid rgba(0, 0, 0, 0.25);
backdrop-filter: blur(7.5px);
Note: backdrop-filter has minimal browser support{


search-navbar-background{

position: absolute;
width: 323px;
height: 53px;
left: 1442px;
top: 11px;

background: rgba(255, 255, 255, 0.5);
border-radius: 26.5px;

}
.search-navbar{

position: absolute;
width: 106px;
height: 27px;
left: 1521px;
top: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);


}
.search-icon{

position: absolute;
left: 76.35%;
right: 21.88%;
top: 0.78%;
bottom: 97.89%;

background: rgba(0, 0, 0, 0.5);

}
carshop-icon{

position: absolute;
left: 93.39%;
right: 4.84%;
top: 0.78%;
bottom: 97.89%;

background: #FFFFFF;

}
.person-icon{

position: absolute;
left: 96.25%;
right: 2.08%;
top: 0.78%;
bottom: 97.89%;

background: #FFFFFF;

}
.logo-navbar{

position: absolute;
width: 236px;
height: 133px;
left: 14px;
top: 2px;

background: url(logo.png);

}
.text-navbar{

position: absolute;
width: 1284px;
height: 75px;
left: 237px;
top: 0px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}